/* .url{
    width: 250px;
    height: 200px;
} */

img{
    height: 125px;
}


body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("https://images.unsplash.com/photo-1448301858776-07f780e9c9da?ixlib=rb-0.3.5&s=b843a9eba3b11b9970d9616a301b1b18&auto=format&fit=crop&w=1350&q=80");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}


.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    color: white;
    font-family: 'Cinzel', serif;
}

